{% extends 'base/base.html'%}

{% block title %}crear Grado {% endblock %}

{% block encabezado %}Crear Grado {% endblock %}
{% block content %}
<h3> Crear Nuevo Grado</h3>
<br>
<br>

      
    <div>
        <form role="form" method="POST" >
            
            {% csrf_token %}
            <table>
                <tr>
                    <td width="600">
                        {{form.as_p}}
                        <br><br><br>

                        <input type="submit"  class="btn btn-success" style="background-color:#33CC00;color:white" name="submit" value="Aceptar">

                        <a href="{% url 'admon:listado_Grado' %}" class="btn btn-success" style="color:white; background-color:#f6685e">Regresar</a>
                 
                 
               </tr>
            </table>             
        </form>
    </div> 


{% endblock %}