
<h3> Modificar Datos Grado</h3>
<div class="container">
	<div class="row">
<br>

    <form action="{% url 'admon:modificarGrado' object.pk %}" method="POST">
			
			{% csrf_token %}
			
			<div class="panel-body">
				
				{{form.as_p}}

			</div>
         
 
    
    <br><br>

    <input type="submit"  class="btn btn-success" style="background-color:#33CC00;color:white" name="submit" value="Guardar Cambios">

    <a href="{% url 'admon:listado_Grado' %}" class="btn btn-success" style="color:white; background-color:#f6685e">Cancelar</a>
                 
                 
        </form>
  
</div></div>
