{% extends 'base/base.html'%}

{% block title %} Registro de notas {% endblock %}

{% block encabezado %} Registro de notas {% endblock %}
{% block content %}
<h3>Aqui puede registrar las notas de sus alumnos</h3>
<div class="container">
	<div class="row">

	    
		
		
<div id="popup">
	</div>
</div><br><br>

<br><br>
<div class="row text-center">
	<table  class="table table-sm">
		<tr style="text-align: center">
			<th style="text-align: center">Codigo del Estudiante</th>
			<th style="text-align: center">Nombres del Estudiante</th>
			<th style="text-align: center">Apellidos del Estudiante</th>
		</tr>
		{% for est in estudiantes %}
					<tr>
						<td>{{est.nieEst}}</td>
						<td>{{est.nomEst}}</td>
						<td>{{est.apeEst}}
						<td style="text-align:center;">
					
				</td>

				
					</tr>
		{% endfor %}
	</table>
</div>
</div>


</div>
	<script>
var modal;

function abrir_modal(url, titulo)
{
    modal = $('#popup').dialog(
    {
        title: titulo,
        modal: true,
        width: 600,
        resizable: false
    }).dialog('open').load(url)
}

function cerrar_modal()
{
    modal.dialog("close");
}

$(document).ready(function()
{
    var table = $('#tabla').dataTable( {
        "language": {
                url: "/static/localizacion/es_ES.json"
        }
    } );
});
</script>


{% endblock %}