{% extends 'base/base.html'%}

{% block title %} Gestion de Profesores, Estudiantes, Materias {% endblock %}

{% block encabezado %} Gestion de Profesor {% endblock %}
{% block content %}
<h3>Aqui puede registrar, modificar y eliminar Profesores, Estudiantes, Materias</h3>
<div class="container">
	<div class="row">

	    
		
<div id="popup">
	</div>
</div><br><br>

<br><br>
<div class="row text-center">
	<table  class="table table-sm">
		<tr style="text-align: center">
			<th style="text-align: center">Profesores</th>
			<th style="text-align: center">Estudiantes</th>
			<th style="text-align: center">Materias</th>
			<th style="text-align: center">Grados</th>
			<th style="text-align: center">Evaluaciones de profesores</th>
		</tr>
		
					<tr>
						
						<td style="text-align:center;">
					<a href="{% url 'admon:listado_Profesor' %}" class="btn"><span class="glyphicon glyphicon-pencil">Profesores</a>
				</td>

				<td style="text-align:center;">
					<a href="{% url 'admon:listado_Estudiante'  %}" class="btn"><span class="glyphicon glyphicon-trash"></span>Estudiantes</a>
				</td>
				<td style="text-align:center;">
					<a href="{% url 'admon:listado_Materia' %}" class="btn"><span class="glyphicon glyphicon-pencil">Materias</a>
				</td>
				<td style="text-align:center;">
					<a href="{% url 'admon:listado_Grado' %}" class="btn"><span class="glyphicon glyphicon-pencil">Grados</a>
				</td>
				<td style="text-align:center;">
					<a href="{% url 'admon:gestionEvaluacion' %}" class="btn"><span class="glyphicon glyphicon-pencil">Evaluaciones de profesores</a>
				</td>
					</tr>
		
	</table>
</div>
</div>


</div>
	<script>
var modal;

function abrir_modal(url, titulo)
{
    modal = $('#popup').dialog(
    {
        title: titulo,
        modal: true,
        width: 600,
        resizable: false
    }).dialog('open').load(url)
}

function cerrar_modal()
{
    modal.dialog("close");
}

$(document).ready(function()
{
    var table = $('#tabla').dataTable( {
        "language": {
                url: "/static/localizacion/es_ES.json"
        }
    } );
});
</script>


{% endblock %}