{% extends 'base/base.html'%}

{% block title %} Gestion de Notas {% endblock %}

{% block encabezado %} Gestion de Notas {% endblock %}
{% block content %}
<h3>Aqui puede registrar y modificar las notas de los Estudiantes de las materias que imparte</h3>

<div class="row text-center">
	<table  class="table table-sm">
		<tr style="text-align: center">
			<th style="text-align: center">Codigo de la Materia</th>
			<th style="text-align: center">Nombre de la Materia</th>
			<th style="text-align: center">Registrar Nota</th>
		</tr>
		{% for mat in materias %}
					<tr>
						<td>{{mat.codMat}}</td>
						<td>{{mat.nomMat}}</td>
						<td><a href="{% url 'admon:vistaNotaMateria' mat.pk  profesor %}" class="btn"><span class="glyphicon glyphicon-pencil">registrar Notas</a></td>
					</tr>
		{% endfor %}
	</table>
</div>

	<script>
var modal;

function abrir_modal(url, titulo)
{
    modal = $('#popup').dialog(
    {
        title: titulo,
        modal: true,
        width: 600,
        resizable: false
    }).dialog('open').load(url)
}

function cerrar_modal()
{
    modal.dialog("close");
}

$(document).ready(function()
{
    var table = $('#tabla').dataTable( {
        "language": {
                url: "/static/localizacion/es_ES.json"
        }
    } );
});
</script>


{% endblock %}